body{	
	background-size: cover;
	position: relative;
	padding-bottom: 0px;
}
.index-1 {
	background-image: url(../style/images/fondo_inicio.jpg);
}
.volver-1{
    background-image: url(../style/images/master.jpg);
}
.contacto-1{
    background-image: url(../style/images/composicion.jpg);
	/*size: 100%;*/
}
.quienes-1{
    background-image: url(../style/images/fondo_somos.jpg);
	
}
.servicios-1{
    background-image: url(../style/images/fondo_servicios.jpg);
}