.card_2 {
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
    

	padding: 150px 20px 20px 20px;
    
    

    .video-box{
        
        border-radius: 10px;
        
    }
}

/*quienes somos*/

.vidio {
	border-radius: 5px;
    
}
.foto {
	height: 200px;
	width: 200px;
	border-radius: 500px;
	border: 1px solid black;
    &:hover{
        height: 210px;
        width: 210px;
        transition: 1s;
    }
}

.foto-1 {
	height: 200px;
	width: 200px;
	border: 1px solid black;
	border-radius: 500px;
    &:hover{
        height: 210px;
        width: 210px;
        transition: 1s;
    }
}

.lista-equipos{
    display: grid;

}

