header {
	padding: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	background-color: $mainColor;
	/*background-color: #333 ;*/
	gap: 150px;
	position: relative;
    z-index: 2;

		.fondo{
			background-size: cover;
		}

		.checkBTN{
			
			color: #fff;
			
			display: none;
		}
		#check{
			display: none;
		}


			.menu-arriba {
				list-style-type: none;
				display: flex;
				flex-direction: row;
				
				justify-content: flex-star;
				align-items: center;	
				gap: 20px;
				padding: 10px;

				li{
					background-color: lightblue;
					font-size: 13px;
					display: flex;
					justify-content: center;


					&:hover{
						background-color: lightgoldenrodyellow;
						border: 2px brown;
						
						transition: 0.5s;
        }   
    }
} 
}

.menu-arriba .unica:hover{
	background-color: lightgoldenrodyellow;
	
	
	transition: 0.5s;
	
}