.titulo {     
	animation: txto 1s;	
    @keyframes txto {
        0%{
            opacity: 0;
            transform: translateY(10px) scale(0.5);
        }
        100%{
            opacity: 1;
            transform: translateY(0px) scale(1);
        }
    }
}
p{     
	animation: txte 2s;	
        @keyframes txte {
            0%{
                opacity: 0;
                transform: translateY(10px) scale(0.5);
            }
            100%{
                opacity: 1;
                transform: translateY(0px) scale(1);
        }     
    }
}
/*index*/
.texto {
    
	color: darkgrey;
	display: flex;
    
	text-align: center;
	padding: 20px 20px 20px 20px;
}

.flex-container {
    color: white;
    
    .card_1{
        background-color: rgba(0, 0, 0, .50);
        padding-bottom: 20px;
        .titulo {
            color: darkturquoise;
            font-size: auto;
            padding: 30px;
            text-align: center;
            
        }
        .texto2 {
            color: silver;
            padding: 50px;
            font-size: auto;
            text-align: center;
        }
        .texto3 {
            
            color: white;
            
            font-size: auto;
        }
    }

}

/*quienes somos*/
.seccion{
    width: 100%;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
    .card-1{
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: darkgrey;
       padding: 20px 20px 80px 20px;
       border-radius: 20px;
       border: 1px solid black;
       font-size: 45px;
       gap: 20px; 
    }
    .card-2 {
        padding-top: 30px;
        color: blanchedalmond;
        font-size: 25px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);	
        p{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
  
}

/*volver*/
.textoVolver{	
	text-align: center;
	color: rgb(71, 64, 64);
    .titulo-1 {
        font-size: 20px;
        padding: 40px 40px 40px 40px;
    }
    .titulo-2 {
        font-size: 50px;
        padding: 40px 40px 40px 40px;
    }
    .titulo-3 {
        font-size: 35px;
        padding: 80px 40px 40px 40px;
        color: rgb(74, 33, 33) !important;
    }
}

.lista-equipos{
    gap: 40px;
    .equi{
            background-color: black;
            color: white;
            padding: 30px;
            p{
                color: aliceblue;
            }
    }
}
.equiposs{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    padding-bottom: 50px;
    
    .fotos{
        display: grid;
        grid-template-columns: 15% 15% 70%;
        flex-wrap: wrap;
        background-color: rgba(54, 119, 193, 0.55);
        color: aliceblue;
        padding: 10px;
        gap: 20px;
        
        p{
            display: flex;
            justify-content: flex-start;
            padding: 20px 30px 20px 20px;
            align-items: center;        
        }
        img{
            padding-top: 20px;
        }
        .backgr{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            margin: 0;
            background-color: chocolate;
            
     
        }
    }
}
            

/*servicios*/
.textt {
	background-color: rgba(0, 0, 0, .25);
	color: white;
	padding-top: 20px ;
	padding-bottom: 0px;
	text-align: center;
	font-size: 30px;    
}
.tarjeta {
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: 100px 1fr 1fr 100px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	". caja1 caja2 ."
	". caja3 caja4 .";
	padding: 50px 20px 50px 20px;   
}

@each $posicion in caja1, caja2, caja3, caja4{
    .parrafo-#{$posicion}{
        grid-area: $posicion;
        background-color: rgba(0, 0, 0, .55);
        border: 3px solid black;
        border-radius: 10px;
        color: white;
    }
}
$animation: (
    caja1: 1s,
    caja2: 2s,
    caja3: 3s,
    caja4: 4s,
);
@each $caja, $time in $animation{
    .parrafo-#{$caja}{
        animation: tar $time;
        @keyframes tar {
            0%{
                opacity: 0;
                transform: translateY(30px) scale(0.9);
            }
            100%{
                opacity: 1;
                transform: translateY(0px) scale(1);
            }
        }
    }
}

/*contacto*/
h3{
    color: azure;
}

.location{
    display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: 40% 10% 40% 10%;
    padding: 50px;
    .map{
        width: 110%;
        height: 150%;
        
    }
    .card-info-1{
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: start;
        align-self: start;
        p{
        background-color: rgba(206, 222, 217, 0.55);
        padding: 10px;
      } 
    }
    .card-info-2{
        grid-column: 3/4;
        grid-row: 3/4;
        justify-self: start;
        align-self: start;
        p{
            color: antiquewhite;
            background-color: rgba(54, 45, 24, 0.55);
            padding: 10px;
          } 
    }
    .card-info-3{
        grid-column: 1/2;
        grid-row: 4/5;
        row-gap: 15px;
        justify-self: start;
        align-self: end;
        padding-bottom: 30px;
        p{
            color: antiquewhite;
            background-color: rgba(87, 63, 8, 0.55);
            padding: 10px;
            font-size: 20px;
          } 
    }
}




