*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	background-image: url(../style/composicion.jpg);
	background-size: cover;
	position: relative;
	padding-bottom: 0px;
}

header {
	position: fixed;
	width: 100%;
	padding: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	background-color: #0d2033;
	/*background-color: #333 ;*/
	gap: 150px;

}



a:link, a:visited, a:active {
	text-decoration: none;
}

.menu-arriba {

	
	list-style-type: none;
	display: flex;
	flex-direction: row;
	
	justify-content: flex-star;
	align-items: center;	
	gap: 20px;
	padding: 10px;
} 

.menu-arriba >li{
	background-color: lightblue;
	
	
	/*border-radius: 5px;*/
	font-size: 13px;
	display: flex;
	justify-content: center;


}
.menu-arriba >li:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 110px;
	transition: 0.5s;
	
}

.menu-arriba .unica:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 200px;
	transition: 0.5s;
	
}

/* contenido desde aqui*/

.text {
	background-color: rgba(0, 0, 0, .25);
	padding-top: 100px;
	
	color: black;
	font-size: 25px;
	
	text-align: center;
}

.titulo {     
	animation: txto 1s;
	
}

@keyframes txto {

	0%{
		opacity: 0;
		transform: translateY(10px) scale(0.5);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}


p{     
	animation: txte 2s;
	
}

@keyframes txte {

	0%{
		opacity: 0;
		transform: translateY(10px) scale(0.5);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}

section {
	padding-bottom: 50px;
}
.formulario {
	width: 500px;
	padding: 5px;
	background-color: #24303c;
	border-radius: 10px;
	margin: auto;
	margin-top: 100px;
	line-height: 35px;

}
.condiciones {
	color: white;
}

.condiciones-1{
	color: white;
}

.controls {
	width: 100%;
	background-color: #24303c;
	padding: 10px;
	margin-bottom: 16px;
	font-size: 10px;
	border: 1px solid #1f53c5;
	color: white;
}

.formulario h2 {
	color: white;

}


/* footer desde aqui*/

.pieDePagina {
	
	background-color: lightblue;
	padding-bottom: 0px;
	position: relative;
	bottom: 0;
	
}

.grids {


	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-areas: 
		"link social";
	justify-items: center;	
	padding: 30px 0px;

}

.grids a:hover{
	color: aqua;
}
.enlace {
	display: flex;
	align-items: center;
	color: white;
	grid-area: link;
	size: 55px;
	background-color: #0d2033;
	text-align: center;
	padding: 10px;
}
.redes {
	grid-area: social;
	
}

.redes a{
	color: white;
	width: 45px;
	height: 45px;
	line-height: 45px;
	background-color: #0d2033;
	text-align: center;

}



@media screen and (max-width: 320px){
	body {
		background-size: cover;
		display: grid;
		min-height: 100vh;
		width: 310px;
	
	}
	section{
		flex-direction: column;
		
	}

	.pieDePagina{
		position: relative;
		
	}


