* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  background-size: cover;
  position: relative;
  padding-bottom: 0px;
}

.index-1 {
  background-image: url(../style/images/fondo_inicio.jpg);
}

.volver-1 {
  background-image: url(../style/images/master.jpg);
}

.contacto-1 {
  background-image: url(../style/images/composicion.jpg);
  /*size: 100%;*/
}

.quienes-1 {
  background-image: url(../style/images/fondo_somos.jpg);
}

.servicios-1 {
  background-image: url(../style/images/fondo_servicios.jpg);
}

header {
  padding: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: #0d2033;
  /*background-color: #333 ;*/
  gap: 150px;
}
header .fondo {
  background-size: cover;
}
header .checkBTN {
  color: #fff;
  display: none;
}
header #check {
  display: none;
}
header .menu-arriba {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-star;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
header .menu-arriba li {
  background-color: lightblue;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
header .menu-arriba li:hover {
  background-color: lightgoldenrodyellow;
  border: 2px brown;
  width: 110px;
  transition: 0.5s;
}

.menu-arriba .unica:hover {
  background-color: lightgoldenrodyellow;
  width: 200px;
  transition: 0.5s;
}

.titulo {
  animation: txto 1s;
}
@keyframes txto {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

p {
  animation: txte 2s;
}
@keyframes txte {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/*index*/
.texto {
  color: darkgrey;
  display: flex;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.flex-container {
  color: white;
}
.flex-container .card_1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}
.flex-container .card_1 .titulo {
  color: darkturquoise;
  font-size: auto;
  padding: 30px;
  text-align: center;
}
.flex-container .card_1 .texto2 {
  color: silver;
  padding: 50px;
  font-size: auto;
  text-align: center;
}
.flex-container .card_1 .texto3 {
  color: white;
  font-size: auto;
}

/*quienes somos*/
.seccion {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.seccion .card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgrey;
  padding: 20px 20px 80px 20px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 45px;
  gap: 20px;
}
.seccion .card-2 {
  padding-top: 30px;
  color: blanchedalmond;
  font-size: 25px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.seccion .card-2 p {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*volver*/
.textoVolver {
  text-align: center;
  color: rgb(71, 64, 64);
}
.textoVolver .titulo-1 {
  font-size: 20px;
  padding: 40px 40px 40px 40px;
}
.textoVolver .titulo-2 {
  font-size: 50px;
  padding: 40px 40px 40px 40px;
}
.textoVolver .titulo-3 {
  font-size: 35px;
  padding: 80px 40px 40px 40px;
  color: rgb(74, 33, 33) !important;
}

.lista-equipos {
  gap: 40px;
}
.lista-equipos .equi {
  background-color: black;
  color: white;
  padding: 30px;
}
.lista-equipos .equi p {
  color: aliceblue;
}

.equiposs {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  padding-bottom: 50px;
}
.equiposs .fotos {
  display: grid;
  grid-template-columns: 15% 15% 70%;
  flex-wrap: wrap;
  background-color: rgba(54, 119, 193, 0.55);
  color: aliceblue;
  padding: 10px;
  gap: 20px;
}
.equiposs .fotos p {
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px 20px 20px;
  align-items: center;
}
.equiposs .fotos img {
  padding-top: 20px;
}
.equiposs .fotos .backgr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0;
  background-color: chocolate;
}

/*servicios*/
.textt {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 30px;
}

.tarjeta {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: ". caja1 caja2 ." ". caja3 caja4 .";
  padding: 50px 20px 50px 20px;
}

.parrafo-caja1 {
  grid-area: caja1;
  background-color: rgba(0, 0, 0, 0.55);
  border: 3px solid black;
  border-radius: 10px;
  color: white;
}

.parrafo-caja2 {
  grid-area: caja2;
  background-color: rgba(0, 0, 0, 0.55);
  border: 3px solid black;
  border-radius: 10px;
  color: white;
}

.parrafo-caja3 {
  grid-area: caja3;
  background-color: rgba(0, 0, 0, 0.55);
  border: 3px solid black;
  border-radius: 10px;
  color: white;
}

.parrafo-caja4 {
  grid-area: caja4;
  background-color: rgba(0, 0, 0, 0.55);
  border: 3px solid black;
  border-radius: 10px;
  color: white;
}

.parrafo-caja1 {
  animation: tar 1s;
}
@keyframes tar {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.parrafo-caja2 {
  animation: tar 2s;
}
@keyframes tar {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.parrafo-caja3 {
  animation: tar 3s;
}
@keyframes tar {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.parrafo-caja4 {
  animation: tar 4s;
}
@keyframes tar {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/*contacto*/
h3 {
  color: azure;
}

.location {
  display: grid;
  grid-template-columns: 50% 10% 40%;
  grid-template-rows: 40% 10% 40% 10%;
  padding: 50px;
}
.location .map {
  width: 110%;
  height: 150%;
}
.location .card-info-1 {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: start;
  align-self: start;
}
.location .card-info-1 p {
  background-color: rgba(206, 222, 217, 0.55);
  padding: 10px;
}
.location .card-info-2 {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: start;
  align-self: start;
}
.location .card-info-2 p {
  color: antiquewhite;
  background-color: rgba(54, 45, 24, 0.55);
  padding: 10px;
}
.location .card-info-3 {
  grid-column: 1/2;
  grid-row: 4/5;
  row-gap: 15px;
  justify-self: start;
  align-self: end;
  padding-bottom: 30px;
}
.location .card-info-3 p {
  color: antiquewhite;
  background-color: rgba(87, 63, 8, 0.55);
  padding: 10px;
  font-size: 20px;
}

.pieDePagina {
  background-color: lightblue;
  padding-bottom: 0px;
  position: relative;
  bottom: 0;
}
.pieDePagina .grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "link social";
  justify-items: center;
  padding: 30px 0px;
  /*.redes {

  }*/
}
.pieDePagina .grids .enlace {
  display: flex;
  align-items: center;
  color: white;
  grid-area: link;
  size: 55px;
  background-color: #0d2033;
  text-align: center;
  padding: 10px;
}
.pieDePagina .grids .redes a {
  grid-area: social;
  color: white;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #0d2033;
  text-align: center;
}
.pieDePagina .grids a:hover {
  color: aqua;
}

.card_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 150px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.card_2 .video-box {
  border-radius: 10px;
}

/*quienes somos*/
.vidio {
  border-radius: 5px;
}

.foto {
  height: 200px;
  width: 200px;
  border-radius: 500px;
  border: 1px solid black;
}
.foto:hover {
  height: 210px;
  width: 210px;
  transition: 1s;
}

.foto-1 {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 500px;
}
.foto-1:hover {
  height: 210px;
  width: 210px;
  transition: 1s;
}

.lista-equipos {
  display: grid;
}

.boton {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  size: 50px;
  padding: 10px 10px 10px 10px;
  font-size: small;
  justify-content: center;
}

button {
  align-content: center;
  background-color: skyblue;
}
button:hover {
  background-color: #0d2033;
  transition: 0.5s;
  font-size: 20px;
  transition: 0.5s;
}

/*formulario contacto*/
section .formulario {
  padding-bottom: 50px;
}

.formulario {
  padding: 5px;
  background-color: #24303c;
  border-radius: 10px;
  border: 2px solid #1f53c5;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 35px;
}
.formulario .condiciones {
  color: white;
}
.formulario .condiciones-1 {
  color: white;
}
.formulario .controls {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 20px;
  border: 1px solid #1f53c5;
  color: white;
}
.formulario .controls .botons {
  cursor: pointer;
  background-color: aliceblue;
  text-align: center;
}
.formulario .formulario h2 {
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    /*quienes somos*/
  }
  body .nav {
    display: flex;
    flex-direction: column;
  }
  body .checkBTN {
    display: block;
    width: 100%;
  }
  body ul {
    position: absolute;
    width: 100%;
    background: #2c3e50;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  body nav ul li {
    display: block;
  }
  body li a:hover {
    background: none;
  }
  body #check:checked ~ ul {
    left: 10px;
  }
  body .inicio-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .inicio-1 h1 {
    text-align: center;
    width: 100%;
  }
  body .inicio-1 .card_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0);
  }
  body .inicio-1 .video-resp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .princi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
  }
  body .seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .seccion .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: medium;
  }
  body .seccion .col .vidio {
    width: 100%;
  }
  body .seccion .col img {
    transform: scale(0.8);
    border: 0px;
    border-radius: 0;
  }
  body .textt {
    padding: 10px;
  }
  body .formulario {
    display: flex;
    flex-wrap: wrap;
  }
  body .tarjeta {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }
  body .pieDePagina {
    position: relative;
    width: 100%;
    padding: 20px;
  }
  body .pieDePagina .grids {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  body .pieDePagina .grids .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  body .lista-equipos {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    text-align: center;
  }
  body .lista-equipos .fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  body .location {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .location .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }
}/*# sourceMappingURL=Estilos.css.map */