*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	
	background-image: url(../style/fondo_servicios.jpg);
	background-size: cover;
	position: relative;

	
}

header {
	padding: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	background-color: #0d2033;
	/*background-color: #333 ;*/
	gap: 150px;

}

.fondo{
	background-size: cover;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

.menu-arriba {

	
	list-style-type: none;
	display: flex;
	flex-direction: row;
	
	justify-content: flex-star;
	align-items: center;	
	gap: 20px;
	padding: 10px;
} 

.menu-arriba >li{
	background-color: lightblue;
	
	
	/*border-radius: 5px;*/
	font-size: 13px;
	display: flex;
	justify-content: center;


}
.menu-arriba >li:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 110px;
	transition: 0.5s;
	
}

.menu-arriba .unica:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 200px;
	transition: 0.5s;
	
}


.textt {
	

	background-color: rgba(0, 0, 0, .25);

	color: white;

	
	padding-top: 20px ;
	padding-bottom: 0px;
	text-align: center;
	font-size: 30px;
}


.tarjeta {
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: 100px 1fr 1fr 100px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	". caja1 caja2 ."
	". caja3 caja4 .";

	padding: 50px 20px 50px 20px;

}

.tarjeta-1 {

	animation: tar 1s;


	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, .55);
	grid-area: caja1;
	border: 3px solid black;
	border-radius: 10px;
	color: white;

}

	



@keyframes tar {
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}

}


.tarjeta-2 {

	animation: tar2 2s;
	grid-area: caja2;
	background-size: 300px 200px;
	background-color: rgba(0, 0, 0, .55);
	margin: 1px;
	border: 3px solid black;
	border-radius: 10px;
	color: white;
}

@keyframes tar2 {
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}

}

.tarjeta-3 {
	animation: tar3 3s;

	background-size: 300px 200px;
	grid-area: caja3;
	
	background-color: rgba(0, 0, 0, .55);
	margin: 1px;
	border: 3px solid black;
	border-radius: 10px;
	color: white;
}
@keyframes tar3 {
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}

}
.tarjeta-4 {
	animation: tar4 4s;

	grid-area: caja4;
	background-size: 300px 200px;
	background-color: rgba(0, 0, 0, .55);	
	margin: 1px;
	border: 3px solid black;
	border-radius: 10px;
	color: white;
}
@keyframes tar4 {
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}

}

footer{
	position: relative;
	background-color: lightblue;
	width: 100%;
	bottom: 0px;


}
/*.pieDePagina {
	
	background-color: lightblue;
	padding-bottom: 0px;
	position: relative;
	bottom: 0;
	
}*/

.grids {


	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-areas: 
		"link social";
	justify-items: center;	
	padding: 30px 0px;

}

.grids a:hover{
	color: aqua;
}
.enlace {
	display: flex;
	align-items: center;
	color: white;
	grid-area: link;
	size: 55px;
	background-color: #0d2033;
	text-align: center;
	padding: 10px;
}
.redes {
	grid-area: social;
	
}

.redes a{
	color: white;
	width: 45px;
	height: 45px;
	line-height: 45px;
	background-color: #0d2033;
	text-align: center;

}