

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	background-image: url(../style/fondo_contacto.jpg);
	background-size: cover;
	position: relative;
	padding-bottom: 0px;
}

header {
	padding: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	background-color: #0d2033;
	/*background-color: #333 ;*/
	gap: 150px;

}

.fondo{
	background-size: cover;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

.menu-arriba {

	
	list-style-type: none;
	display: flex;
	flex-direction: row;
	
	justify-content: flex-star;
	align-items: center;	
	gap: 20px;
	padding: 10px;
} 

.menu-arriba >li{
	background-color: lightblue;
	
	
	/*border-radius: 5px;*/
	font-size: 13px;
	display: flex;
	justify-content: center;


}
.menu-arriba >li:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 110px;
	transition: 0.5s;
	
}

.menu-arriba .unica:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 200px;
	transition: 0.5s;
	
}

/*a partir de aca contenido*/



.texto{

	animation: tenxt 2s;
	text-align: center;
	color: darkgrey;
}

@keyframes tenxt {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.titulo-1 {
	font-size: 20px;
	padding: 40px 40px 40px 40px;

}

.titulo-2 {
	font-size: 50px;
	padding: 40px 40px 40px 40px;

	

}

.titulo-3 {
	font-size: 35px;
	padding: 40px 40px 40px 40px;

}

.button {
	
	display: flex;
	flex-direction: row;
	padding: 50px 50px 50px 50px;

	justify-content: center;
	border-radius: 10px;
}	

.button button{

	background-color: powderblue;
	border-radius: 10px;
	height: 50px;
	width: 120px;
	align-content: center;
	font-size: 15px;


}

.button button:hover{
	
	background-color: #0d2033;

	height: 70px;
	width: 180px;
	transition: 0.5s, 0.5s;
	font-size: 20px;

}

.button button a:hover{
	color: white;
}

/*a partir de aca footer*/


.pieDePagina {
	
	background-color: lightblue;
	padding-bottom: 0px;
	position: relative;
	bottom: 0;
	
}

.grids {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-areas: 
		"link social";
	justify-items: center;	
	padding: 30px 0px;

}

.grids a:hover{
	color: aqua;
}
.enlace {
	display: flex;
	align-items: center;
	color: white;
	grid-area: link;
	size: 55px;
	background-color: #0d2033;
	text-align: center;
	padding: 10px;
}
.redes {
	grid-area: social;
	
}

.redes a{
	color: white;
	width: 45px;
	height: 45px;
	line-height: 45px;
	background-color: #0d2033;
	text-align: center;

}


