*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	
	background-size: cover;
	position: relative;
	padding-bottom: 0px;
}

.index-1 {
	background-image: url(../style/fondo_inicio.jpg);
}

header {
	padding: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	background-color: #0d2033;
	/*background-color: #333 ;*/
	gap: 150px;

}

.fondo{
	background-size: cover;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

.menu-arriba {

	
	list-style-type: none;
	display: flex;
	flex-direction: row;
	
	justify-content: flex-star;
	align-items: center;	
	gap: 20px;
	padding: 10px;
} 

.menu-arriba >li{
	background-color: lightblue;
	
	
	/*border-radius: 5px;*/
	font-size: 13px;
	display: flex;
	justify-content: center;


}
.menu-arriba >li:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 110px;
	transition: 0.5s;
	
}

.menu-arriba .unica:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 200px;
	transition: 0.5s;
	
}

/*a partir de aca contenido*/

.flex-container {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card_1{
	background-color: rgba(0, 0, 0, .50);
	padding-bottom: 20px;

}
.texto {
	color: darkgrey;
	
	display: flex;
	align-content: center;
	padding: 20px 20px 20px 20px;
}


.titulo {
	color: darkturquoise;
	font-size: 70px;
	padding: 30px;
}

.texto2 {
	color: silver;
	padding: 50px;
	font-size: 40px;
}

.texto3 {
	color: white;
	padding-left: 50px;
}






.videito {
	display: flex;
	align-content: center;
	padding: 150px 20px 20px 20px;
	background-color: rgba(0, 0, 0, .50);
	

	
	
}

.video-box{
	border: 2px solid black;
	border-radius: 10px;



}
.boton {
	
	display: flex;
	flex-direction: row;
	padding: 50px 50px 50px 50px;
	
	justify-content: center;
	border-radius: 10px;
}	

.boton button{
	border-radius: 10px;
	align-content: center;
	background-color: skyblue;
	width: 150;
}

.boton button h5{
	font-size: 15px;
	
}

.boton button:hover{
	color: black;
	width: 230px;
	transition: 0.5s;

}
	
.boton button a:hover{
	color: black;
	
}
/*a partir de aca footer*/

.pieDePagina {
	
	background-color: lightblue;
	padding-bottom: 0px;
	position: relative;
	bottom: 0;
	
}

.grids {


	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-areas: 
		"link social";
	justify-items: center;	
	padding: 30px 0px;

}

.grids a:hover{
	color: aqua;
}
.enlace {
	display: flex;
	align-items: center;
	color: white;
	grid-area: link;
	size: 55px;
	background-color: #0d2033;
	text-align: center;
	padding: 10px;
}
.redes {
	grid-area: social;
	
}

.redes a{
	color: white;
	width: 45px;
	height: 45px;
	line-height: 45px;
	background-color: #0d2033;
	text-align: center;

}

/*desde aca media queries*/

@media screen and (max-width: 320px){
	body {
		background-size: cover;
		display: grid;
		
	}
	.flex-container{
		flex-direction: column;
	}

	.pieDePagina{
		position: relative;
	}

}

@media screen and (max-width: 786px){
	body {
		background-size: cover;
		padding-bottom: 3em;
		min-height: 100vh;

		
	}
	.flex-container{
		flex-direction: column;
	}

	.pieDePagina{
		position: relative;
		
	}

}