*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	
	background-size: cover;
	position: relative;
	padding-bottom: 0px;
}

.index-1 {
	background-image: url(../style/images/fondo_inicio.jpg);
}

.volver-1{
    background-image: url(../style/images/fondo_contacto.jpg);
}

.contacto-1{
    background-image: url(../style/images/composicion.jpg);
	/*size: 100%;*/

}

.quienes-1{
    background-image: url(../style/images/fondo_somos.jpg);
}

.servicios-1{
    background-image: url(../style/images/fondo_servicios.jpg);
}
/* desde aqui el mismo header para todas las paginas*/
header {
	padding: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	background-color: #0d2033;
	/*background-color: #333 ;*/
	gap: 150px;

}

.fondo{
	background-size: cover;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

.menu-arriba {

	
	list-style-type: none;
	display: flex;
	flex-direction: row;
	
	justify-content: flex-star;
	align-items: center;	
	gap: 20px;
	padding: 10px;
} 

.menu-arriba >li{
	background-color: lightblue;
	
	
	/*border-radius: 5px;*/
	font-size: 13px;
	display: flex;
	justify-content: center;


}
.menu-arriba >li:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 110px;
	transition: 0.5s;
	
}

.menu-arriba .unica:hover{
	background-color: lightgoldenrodyellow;
	border: 2px brown;
	width: 200px;
	transition: 0.5s;
	
}

/*a partir de aca contenido de "index"*/

.flex-container {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card_1{
	background-color: rgba(0, 0, 0, .50);
	padding-bottom: 20px;

}
.texto {
	color: darkgrey;
	
	display: flex;
	align-content: center;
	padding: 20px 20px 20px 20px;
}


.titulo {
	color: darkturquoise;
	font-size: 70px;
	padding: 30px;
}

.texto2 {
	color: silver;
	padding: 50px;
	font-size: 40px;
}

.texto3 {
	color: white;
	padding-left: 50px;
}






.videito {
	display: flex;
	align-content: center;
	padding: 150px 20px 20px 20px;
	background-color: rgba(0, 0, 0, .50);
	

	
	
}

.video-box{
	border: 2px solid black;
	border-radius: 10px;



}
.boton {
	
	display: flex;
	flex-direction: row;
	padding: 50px 50px 50px 50px;
	
	justify-content: center;
	border-radius: 10px;
}	

.boton button{
	border-radius: 10px;
	align-content: center;
	background-color: skyblue;
	width: 150;
}

.boton button h5{
	font-size: 15px;
	
}

.boton button:hover{
	color: black;
	width: 230px;
	transition: 0.5s;

}
	
.boton button a:hover{
	color: black;
	
}

/* a partir de aqui contenido de "quienes somos"*/


section{
	width: 100%;
}
.tarjetas {
	padding-left: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
}

.card-1{
	
	background-color: darkgrey;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	font-size: 45px;
}

.vidio {
	border-radius: 5px;
	
}

.card-1 button{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 10px;
	height: 50px;
	width: 100px;
	font-size: 15px;
	align-content: center;
}

.card-2 {
	padding-top: 30px;
	color: blanchedalmond;
	font-size: 25px;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	
}

.parte {
	height: 200px;
	width: 200px;
	border-radius: 500px;
	border: 1px solid black;
}

.parte-1 {
	height: 200px;
	width: 200px;
	border: 1px solid black;
	border-radius: 500px;
	

}
.card-2 p{
	grid-column-start: 1;
	grid-column-end: 3;

}

.parte:hover{
	height: 210px;
	width: 210px;
	transition: 1s;
}
.parte-1:hover{
	height: 210px;
	width: 210px;
	transition: 1s;
}

/* a partir de aqui contenido de "servicios"*/
.textt {
	

	background-color: rgba(0, 0, 0, .25);

	color: white;

	
	padding-top: 20px ;
	padding-bottom: 0px;
	text-align: center;
	font-size: 30px;
}


.tarjeta {
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: 100px 1fr 1fr 100px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	". caja1 caja2 ."
	". caja3 caja4 .";

	padding: 50px 20px 50px 20px;

}

.tarjeta-1 {

	animation: tar 1s;


	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, .55);
	grid-area: caja1;
	border: 3px solid black;
	border-radius: 10px;
	color: white;

}

	



@keyframes tar {
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}

}


.tarjeta-2 {

	animation: tar2 2s;
	grid-area: caja2;
	background-size: 300px 200px;
	background-color: rgba(0, 0, 0, .55);
	margin: 1px;
	border: 3px solid black;
	border-radius: 10px;
	color: white;
}

@keyframes tar2 {
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}

}

.tarjeta-3 {
	animation: tar3 3s;

	background-size: 300px 200px;
	grid-area: caja3;
	
	background-color: rgba(0, 0, 0, .55);
	margin: 1px;
	border: 3px solid black;
	border-radius: 10px;
	color: white;
}
@keyframes tar3 {
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}

}
.tarjeta-4 {
	animation: tar4 4s;

	grid-area: caja4;
	background-size: 300px 200px;
	background-color: rgba(0, 0, 0, .55);	
	margin: 1px;
	border: 3px solid black;
	border-radius: 10px;
	color: white;
}
@keyframes tar4 {
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}

}


/* a partir de aqui contenido de "contacto"*/
.text {
	background-color: rgba(0, 0, 0, .25);
	padding-top: 100px;
	
	color: black;
	font-size: 25px;
	
	text-align: center;
}

.titulo {     
	animation: txto 1s;
	
}

@keyframes txto {

	0%{
		opacity: 0;
		transform: translateY(10px) scale(0.5);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}


p{     
	animation: txte 2s;
	
}

@keyframes txte {

	0%{
		opacity: 0;
		transform: translateY(10px) scale(0.5);
	}

	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}

section {
	padding-bottom: 50px;
}
.formulario {
	width: 500px;
	padding: 5px;
	background-color: #24303c;
	border-radius: 10px;
	margin: auto;
	margin-top: 100px;
	line-height: 35px;

}
.condiciones {
	color: white;
}

.condiciones-1{
	color: white;
}

.controls {
	width: 100%;
	background-color: #24303c;
	padding: 10px;
	margin-bottom: 16px;
	font-size: 10px;
	border: 1px solid #1f53c5;
	color: white;
}

.formulario h2 {
	color: white;

}

/* a partir de aqui contenido de "volver a "inicio*/ 


.textoVolver{

	animation: tenxt 2s;
	text-align: center;
	color: darkgrey;
}

@keyframes tenxt {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.titulo-1 {
	font-size: 20px;
	padding: 40px 40px 40px 40px;

}

.titulo-2 {
	font-size: 50px;
	padding: 40px 40px 40px 40px;

	

}

.titulo-3 {
	font-size: 35px;
	padding: 40px 40px 40px 40px;

}

.button {
	
	display: flex;
	flex-direction: row;
	padding: 50px 50px 50px 50px;

	justify-content: center;
	
}	

.button button{

	background-color: powderblue;
	border-radius: 10px;
	height: 50px;
	width: 120px;
	align-content: center;
	font-size: 15px;


}

.button button:hover{
	
	background-color: #0d2033;

	height: 70px;
	width: 180px;
	transition: 0.5s, 0.5s;
	font-size: 20px;

}

.button button a:hover{
	color: white;
}

/*a partir de aca footer*/

.pieDePagina {
	
	background-color: lightblue;
	padding-bottom: 0px;
	position: relative;
	bottom: 0;
	
}

.grids {


	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-areas: 
		"link social";
	justify-items: center;	
	padding: 30px 0px;

}

.grids a:hover{
	color: aqua;
}
.enlace {
	display: flex;
	align-items: center;
	color: white;
	grid-area: link;
	size: 55px;
	background-color: #0d2033;
	text-align: center;
	padding: 10px;
}
.redes {
	grid-area: social;
	
}

.redes a{
	color: white;
	width: 45px;
	height: 45px;
	line-height: 45px;
	background-color: #0d2033;
	text-align: center;

}

/*desde aca media queries*/

@media screen and (max-width: 320px){
	body {
		background-size: cover;
		display: grid;
		
	}
	.flex-container{
		flex-direction: column;
	}

	.pieDePagina{
		position: relative;
	}

}

@media screen and (max-width: 786px){
	body {
		background-size: cover;
		padding-bottom: 3em;
		min-height: 100vh;

		
	}
	.flex-container{
		flex-direction: column;
	}

	.pieDePagina{
		position: relative;
		
	}

}